<h1>ログインページ</h1>

<%= form_with( scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="">
    <div class=""><strong>メールアドレス</strong></div>
    <div class=""><%= f.text_field :name %></div>
  </div>

  <div class="">
    <div class=""><strong>パスワード</strong></div>
    <div class=""><%= f.password_field :password %></div>
  </div>

  <div class="">
    <div class=""><%= f.submit 'ログイン' %></div>
  </div>
<% end %>
